<div class="px-4 px-md-5 mt-5">
  <p class="h2 fw-bolder text-center letter-spacing-1 mb-4">
    Wir Kontaktieren dich!
  </p>
  <div>
    <form class="row justify-content-between">
      <label class="mb-2 d-md-none" for="vorname"> Vorname</label>
      <input
        class="col-md-5 mb-4"
        name="vorname"
        type="text"
        id="vorname"
        placeholder="Max"
      />

      <label class="mb-2 d-md-none" for="nachname"> Nachname</label>
      <input
        class="col-md-6 mb-4"
        name="nachname"
        type="text"
        id="nachname"
        placeholder="Musterman"
      />

      <label class="mb-2 d-md-none" for="email"> Email</label>
      <input
        class="mb-4"
        type="email"
        name="email"
        id="email"
        placeholder="maxmusterman1990@gmx.de*"
        required
      />
      <div class="text-center">
        <button class="w-md-50">Anfrage Stellen</button>
      </div>
    </form>
  </div>
</div>
