<!-- Upper body -->
<div class="p-2 p-sm-4">
  <app-navbar></app-navbar>
  <app-slider></app-slider>
  <div class="ms-md-5">
    <app-body-info></app-body-info>
  </div>
</div>

<!-- Cards -->
<div class="mt-5 bg-light-grey me-4 me-md-5 ps-md-5 pt-2 pb-5 card-container">
  <div class="ms-md-4 d-md-flex">
    <app-card
      cardLabel="SERVICE"
      cardTitle="Keine Angst wir beißen nicht."
      buttonLabel="Kontakt"
    ></app-card>
    <app-card
      cardLabel="JOBS"
      cardTitle="Du Willst ein Teil voin uns sein?"
      buttonLabel="Jobangebote"
    ></app-card>
  </div>

  <!-- Kontakt Formular -->
  <div class="mt-5 ms-md-4">
    <app-contact-formular></app-contact-formular>
  </div>
</div>

<!-- Banner -->
<div class="me-4 me-md-5 banner">
  <app-newsletter-banner></app-newsletter-banner>
</div>

<!-- Footer -->
<app-footer></app-footer>
