<div class="px-3 px-sm-5 py-3 py-sm-4 ms-sm-4">
  <p class="fw-bold text-main letter-spacing-wide mb-0 date">
    {{ date }}
  </p>
  <h1 class="display-2 fw-bolder letter-spacing-1 mt-sm-1 mb-4 mb-sm-5">
    {{ header }}
  </h1>
  <p class="text-main mb-3">
    {{ paragraph1 }}
  </p>
  <p class="text-main mb-4 mb-sm-5">
    {{ paragraph2 }}
  </p>

  <div class="d-flex">
    <app-base-icon
      imageUrl="bilder-und-icons/group.png"
      classes="me-3 "
    ></app-base-icon>
    <app-base-icon
      imageUrl="bilder-und-icons/group-3.png"
      classes="me-3 "
    ></app-base-icon>
    <app-base-icon
      imageUrl="bilder-und-icons/group-6.png"
      classes="me-3"
    ></app-base-icon>
    <app-base-icon
      imageUrl="bilder-und-icons/group-8.png"
      classes="me-3"
    ></app-base-icon>
    <app-base-icon
      imageUrl="bilder-und-icons/linkedin.png"
      classes="me-3 d-none d-sm-block"
    ></app-base-icon>
  </div>
</div>
